{
  "root": true, // 作用于当前目录及其子目录
  "extends": ["@blanc-nova/eslint-config-standard"],

  "overrides": [
    {
      "files": ["*.ts", "*.d.ts", "*.tsx"],
      "extends": ["@blanc-nova/eslint-config-typescript"]
    },
    {
      "files": ["*.vue"],
      "extends": ["@blanc-nova/eslint-config-vue"],
      "parserOptions": {
        "parser": "@typescript-eslint/parser"
      }
    }
  ]
}
